<%- include('partials/header') %>
    <main class="main__container">
        <div class="categorie__container categorie__bgi">
            <p class="main__p"> Vos fruits et légumes à porté de click !</p>
        </div>
    </main>
<%- include('partials/footer') %>