<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ô PRIMEUR</title>
</head>
<body>
    <header>
        <h1>Ô PRIMEUR</h1>
        <nav>
            <ul>
                <li> <a href="/categorie/fruits">Fruits</a></li>
                <li> <a href="/categorie/légumes">Légumes</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>