<%- include('partials/header') %>
    <main class="main__container">
        <h2 class="main__title">Liste des légumes disponibles</h2>
        <div class="categorie__container border">
            <!-- <ul>
                <% //for (let i=0; i< ; i++ ) {%>
                <li></li>
                <% //} %>
            </ul> -->
        </div>
    </main>
<%- include('partials/footer') %>