    <footer class="footer">
        <nav class="footer__nav">
            <ul class="footer__ul">
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Mentions légales</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Nous contacter</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">A propos</a></li>
            </ul>
        </nav>
    </footer>
</div>
</body>
</html>