    <footer class="footer">
        <nav class="footer__nav">
            <ul class="footer__ul">
                <% for (let i=0; i< footer.length; i++) {%>
                <li><a class="nav__link" href="<%= footer[i].href %><%= footer[i].target %><%= footer[i].rel %>"><%= footer[i].title %></a></li>
                <% } %>
                <a href="http://" target="_blank" rel="noopener noreferrer"></a>
            </ul>
        </nav>
    </footer>
</div>
</body>
</html>