<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ô PRIMEUR</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header__account">
                <h1>Ô PRIMEUR</h1>
                    <div class="account">
                        <p>Panier</p>
                        <p>Mon compte</p>
                    </div>
            </div>
            <nav class="header__nav">
                <ul class="nav__ul">
                    <li><a href="/">Acceuil</a></li>
                    <% if  %>
                    <li><a href="/categorie/fruits">Fruits</a></li>
                    <li><a href="/categorie/légumes">Légumes</a></li>
                </ul>
            </nav>
        </header>
    